PORT=5000
MONGODB_URI=mongodb+srv://<luxemarket_user>:<Dhanvaendh7>@cluster0.bg3ic3t.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
NODE_ENV=development
